<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
    </head>
<body>


<h2>登入</h2>
<button onclick="myFunction2()">Login</button>

<br>


<h2>登出</h2>
<button onclick="myFunction3()">登出</button>


<h2>註冊</h2>
<button onclick="myFunction()">註冊</button>

<script>
function myFunction() {
    document.location.href="/register";
}
function myFunction2(){
    document.location.href="/loginin";
}
function myFunction3(){
    document.location.href="/logout";
}

</script>


</body>
</html>
