<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <link href="/stylesheets/buypage.css" rel="stylesheet">
  <link href="/stylesheets/style_1.css" rel="stylesheet">
  <link href="/stylesheets/upload.css" rel="stylesheet">
  <script src="/javascripts/upload.js"></script>



  <!--bootstrap css-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">


  <title>NCKU Buy</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-gray">
    <a class="navbar-brand" href="#">NCKU Buy&amp;Sell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid row">
    <ul class="nav flex-column navbar-expand-lg col-sm-2 sid_bar sidenav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">
        <a class="nav-link active" href="#">個人資訊</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">已購項目</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">個人賣場</a>
      </li>
    </ul>
    <div class="col-sm-10 main row" id="main">


      <!--   upload area -->
      <label for="upload_img" class="upload_area">
        <div id="upload_area">
          <input type="file" id="upload_img">
          <p>Click here to upload image</p>
        </div>
      </label>
      <!--   end of upload area -->



      <!-- Item info input area-->
      <div class="Container_upload_info">
        <div class="form-group">
          <label for="inputAddress">商品名稱</label>
          <input type="text" class="form-control" id="name" placeholder="全身鏡">
        </div>

        <!--   price-->
        <div class="form-row">
          <div id="Item-price" class="form-group col-md-6">
            <label for="Item-price">價格</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" id="price" class="form-control" aria-label="price">
            </div>
          </div>

          <!--    amount -->
          <div class="form-group col-md-6">
            <label for="amount">數量</label>
            <input type="number" class="form-control" id="amount" placeholder="1">
          </div>
        </div>

        <!--    info -->

        <div class="form-group">
          <label for="itemInfo">商品描述</label>
          <textarea class="form-control" aria-label="商品描述" id="itemInfo"></textarea>
        </div>
        <!--    category -->
        <div class="form-group">
          <label for="category">類型與標籤</label>
          <div class="form-control cate">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="home" name="category" value="home">
              <label class="form-check-label" for="home">居家</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="foods" name="category" value="foods">
              <label class="form-check-label" for="foods">食物</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="clothes" name="category" value="clothes">
              <label class="form-check-label" for="clothes">衣物</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="3C" name="category" value="3C">
              <label class="form-check-label" for="3C">3C</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="pets" name="category" value="pets">
              <label class="form-check-label" for="pets">寵物</label>
            </div>
            <input type="text" class="form-control" id="hashtag" placeholder="#IKEA #全身鏡">


          </div>
        </div>

        <!--面交地點-->
        <div class="form-group">
          <label for="location">面交地點</label>
          <div class="form-control cate">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="Checkbox" name="kf-ent" id="kf-ent" value="kf-ent">
              <label class="form-check-label" for="kf-ent">光口</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="Checkbox" name="kf-cor" id="kf-cor" value="kf-cor">
              <label class="form-check-label" for="kf-cor">光轉</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="Checkbox" name="lib" id="lib" value="lib">
              <label class="form-check-label" for="lib">總圖</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="Checkbox" name="kf-dong" id="kf-dong" value="kf-dong">
              <label class="form-check-label" for="kf-dong">小東口</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="Checkbox" name="other" id="other" value="other">
              <label class="form-check-label" for="other">其他</label>
            </div>
          </div>
        </div>
        <!--    upload btn-->
        <button id="submit" class="btn btn-primary" onclick="check_upload">Upload</button>

      </div>
      <!-- end of Item info input area-->

    </div>
  </div>



  <script src="login.js"></script>

  <!-- bootstrap script    -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>



</html>